spydata/

flame_front_detection/__pycache__
flame_front_detection/figures/

flame_simulations/__pycache__
flame_simulations/figures/

local_flame_speed/__pycache__
local_flame_speed/figures/

plot_parameters/__pycache__

tube_burner_campaign1/__pycache__
tube_burner_campaign1/figures/
tube_burner_campaign1/pickles/

tube_burner_campaign2/__pycache__
tube_burner_campaign2/figures/
tube_burner_campaign2/pickles/

